@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #edf6f9;
  color: #023e8a;
  font-family: 'Roboto Serif', serif;
}
.join svg{
  height: 3em;
  color:#023e8a;
}

.join button{

   /* background-color: #023e8a; */
   /* #fb5607; */
  color: #fff;
  width: 11em;
  height: 3em;

  padding-left: 1.5em;
  padding-right: 1.5em;



}
.detail{
  font-size: 1.5em;
}
.back{
  background-color: #f7fff7;
  color: #023e8a;
}
.account label{
  font-weight: bold;
}
.signup{
  background-color: #f7fff7;
  border-radius:0.5em ;
}

/* .signup input{
border: #023e8a;
} */

/* .signup button{
  background-color: #023e8a;
  color: #fff;
} */

.signup label{
 font-size: 1em;
}

.signup h1{
  font-size: 2em;
 }
 h1{
  font-size: 2em;
 }
 h2{
  font-size: 1.2em;
  font-weight: bold;
  /* color: #000; */
 }
 .intro{
  width: 45em;

 }
